.node {
  width: 3%;
  padding-top: 3%;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
}

.nodeFinish {
  background-color: green;
}

.nodeStart {
  background-color: red;
}

.nodeVisited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #cff6cf;
    border-radius: 100%;
  }

  50% {
    background-color: #b6eb7a;
  }

  75% {
    transform: scale(1.2);
    background-color: #a8df65;
  }

  100% {
    transform: scale(1);
    background-color: #79d70f;
  }
}

.nodeWall {
  background-color: rgb(12, 53, 71);
}

.nodeShortestPath {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #f4ea8e;
  }

  50% {
    transform: scale(1.2);
    background-color: #fcf876;
  }

  100% {
    transform: scale(1);
    background-color: #ffd31d;
  }
}
